.increment1,
.increment3{
    width: 27px;
    padding-bottom: 3px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.increment2{
    width: 50px;
    margin: 0 -2px;
    font-weight: 500;
}

.increment1,
.increment2,
.increment3{
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(204,204,204);
}

.row{
    margin: 0;
    padding: 0;
    width: 100px;
    box-shadow: 2px 2px 2px grey;
}